<section class="page-info">
  <div class="container">
      <div>
          <i class="fa fa-puzzle-piece"></i>
          <div>
              <span>Sector</span>
              Sports
          </div>
      </div>
      <div>
          <i class="fa fa-futbol-o"></i>
          <div>
              <span>Sport Type</span>
              Bycicles
          </div>
      </div>
      <div>
          <i class="fa fa-bicycle"></i>
          <div>
              <span>Mode</span>
              Mountain Cross
          </div>
      </div>
      <div>
          <i class="fa fa-recycle green"></i>
          <div>
              <span>Responsability</span>
              Be Green!
          </div>
      </div>
  </div>
</section>