@import '../../../../shared/shared';

.page-info {
  margin-bottom: 60px;
  padding: 30px 0;
  .item {
    display: inline-block;
    font-size: 15px; // 1.1rem
    margin-right: 30px;
    overflow: hidden;
    i {
      color: $icon-color;
      float: left;
      font-size: 45px;
      margin-right: 15px;
    }
    span {
      float: left;
      > div {
        color: $color-gray;
      }
      h3 { // Review this override
        color: $color-gray-darker;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
      }
    }
    &:last-of-type {
      float: right;
      margin-right: 0;
      i {
        color: $color-green;
      }
      span {
        h3 {
          color: $color-green;
        }
      }
    }
  }
}