<section class="help">
  <div class="container">

    <div class="panel" [ngClass]="{'open': isOpen }">
      <header>
        <h2 class="title">Help</h2>
        <!--TODO: Replace for only one button with a method to replace the label -->
        <button class="open" (click)="isOpen = !isOpen;">Open <i class="fa fa-long-arrow-down"></i> </button>
        <button class="close" (click)="isOpen = !isOpen;">Close <i class="fa fa-long-arrow-up"></i> </button>
      </header>
      <div class="content">
        <i class="fa fa-life-ring"></i>
        <ng-content></ng-content>
      </div>
    </div>

  </div>
</section>