@import '../../../../shared/shared';

footer {
  border: 1px solid black;
  color: $color-gray;
  height: 90px;
  margin-top: 100px;
  overflow: hidden;
  padding-top: 10px;
  .copyright {
    float: left;
  }
  .version {
    float: right;
  }
}