@import '../../../../shared/shared';

.breadcrumb {
  padding: 10px 0;
  margin: 0;
  list-style: none;
  > li {
    display: inline-block;
    > a {
      color: $color-green;
      i {
        color: inherit;
      }
      &.active {
        color: black;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    > span {
      color: $color-gray-light;
      margin: 0 5px;
      i {
        font-size: 20px;
      }
    }
  }
}