<section>
  <div class="container">
    <form #bikerForm="ngForm" id="user-registration" class="form-registration" (ngSubmit)="onSubmit(bikerForm)" >
      <h2>User registration</h2>
      <div class="column col-sm-6">
        <!-- Grid 50% -->
        <div class="row row-input">
          <label for="name">Full name</label>
          <input type="text" name="name" id="name" #name="ngModel" ngModel required>
          <div>
            <span class="help help-input">Enter your full name</span>
            <span class="help help-alert" *ngIf="!name.valid && name.touched" >Your name is required.</span>
          </div>
        </div>

        <div class="row row-input">
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" #email="ngModel" ngModel required email>
          <div>
            <span class="help help-input">Enter your email</span>
            <span class="help help-alert" *ngIf="!email.valid && email.touched" >Enter a valid email.</span>
          </div>
        </div>

        <div class="row row-input">
          <label for="city">City <span class="help help-input">optional</span></label>
          <input type="text" name="city" id="city" ngModel>
          <div class="help help-input">Enter your city</div>
        </div>
      </div>

      <div class="column col-sm-6">

        <div class="row row-radio">
          <h4>Ride in group?</h4>

          <input id="Always" name="group" value="Always" type="radio" class="required">
          <label for="Always">Always</label>

          <input id="Sometimes" name="group" value="Sometimes" type="radio">
          <label for="Sometimes">Sometimes</label>

          <input id="Never" name="group" value="Never" type="radio" checked="checked">
          <label for="Never">Never</label>

          <span class="help"></span>
        </div>

        <div class="row row-check">
          <h4>Days of the week</h4>

          <input id="Sun" name="week" value="Sun" type="checkbox" class="required">
          <label for="Sun">Sun</label>

          <input id="Mon" name="week" value="Mon" type="checkbox">
          <label for="Mon">Mon</label>

          <input id="Tue" name="week" value="Tue" type="checkbox">
          <label for="Tue">Tue</label>

          <input id="Wed" name="week" value="Wed" type="checkbox">
          <label for="Wed">Wed</label>

          <input id="Thu" name="week" value="Thu" type="checkbox">
          <label for="Thu">Thu</label>

          <input id="Fri" name="week" value="Fri" type="checkbox">
          <label for="Fri">Fri</label>

          <input id="Sat" name="week" value="Sat" type="checkbox">
          <label for="Sat">Sat</label>

          <span class="help"></span>
        </div>

        <div class="row form-group-button">
          <button type="reset">Cancel</button>
          <button type="submit" [disabled]="!bikerForm.valid">Save</button>
        </div>
      </div>
    </form>
  </div>
</section>