<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <nav class="nav-menu collapse">
          <i class="fa fa-bars"></i>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
        <h1>Bikers Dummy App</h1>
      </div>
      <div class="col-sm-6">
        <div class="user-menu">
          <ul>
            <li id="username"><i class="fa fa-user"></i><a href="#"></a></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>